<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<app-navbar></app-navbar>
<div class="container">
  <!--最外层路由-->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


<!--依赖注入-->
<!--<div>-->
<!--<div>-->
<!--<h1>基本的依赖注入样例</h1>-->
<!--</div>-->
<!--<div>-->
<!--<app-product1></app-product1>-->
<!--<app-product2></app-product2>-->
<!--</div>-->
<!--</div>-->

<!--响应式编程-->
<!--<app-reactive-pg></app-reactive-pg>-->

<!--管道-->
<!--<app-pipe-demo></app-pipe-demo>-->

<!--组件间通讯-->
<!--输入属性-->
<!--<div>我是父组件</div>-->
<!--<div>-->
<!--<input type="text" placeholder="请输入股票代码" [(ngModel)]="stock">-->
<!--<app-communicate-input [stockCode]="stock" [amount]="100"></app-communicate-input>-->
<!--</div>-->
<!--输出属性-->
<!--<app-communicate-output (oStockQuote)="butHandler($event)"></app-communicate-output>-->
<!--<app-communicate-input [stockQuote]="stockQuote"></app-communicate-input>-->

<!--模板式表单-->
<!--<app-template-form></app-template-form>-->

<!--响应式表单-->
<!--<app-reactive-form></app-reactive-form>-->

<!--http通讯-->
<!--<app-http-product></app-http-product>-->

<!--webSocket通讯-->
<!--<app-websocket></app-websocket>-->
