<!-- 使用 bootstrap 写轮播 -->
<!-- <div class="carousel slide" data-ride="carousel" style="background: gray;"> -->
  <!--设置背景色是因为indicators是白色的，凸显出来-->
	<!-- <ol class="carousel-indicators">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="../../../assets/img/wa.jpg" />
		</div>
		<div class="item">
			<img src="../../../assets/img/wa.jpg" />
		</div>
		<div class="item">
			<img src="../../../assets/img/wa.jpg" />
		</div>
	</div>
	<a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')"><</a>
	<a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">></a>
</div> -->

<!-- 使用 swiper.js 写轮播 -->
<div class="swiper-container s">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="../../../assets/img/wa.jpg" />
		</div>
		<div class="swiper-slide">
			<img src="../../../assets/img/wa.jpg" />
		</div>
		<div class="swiper-slide">
			<img src="../../../assets/img/wa.jpg" />
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>